* {
    font-family: "MS Trebuchet", Helvetica, Verdana, Arial, sans-serif;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-template-columns: 1fr 6fr;
    min-height: 100vh;
}

#navigation {
    grid-column: 1;
    padding: 40px;
}
#navigation a {
    text-decoration: none;
}
#navigation ul {
    margin-top: 0px;
}
#navigation li {
    list-style-type: none;
}

#content {
    grid-column: 2;
    border-left: 1px solid black;
    padding: 40px;
}

div.errors {
    border: 3px solid red;
    padding: 10px;
    background-color: yellow;
    margin-bottom: 20px;
}
div.errors ul {
    margin-top: 0px;
}

table tr, table td {
    vertical-align: top;
}

th.searchinput {
    padding-top: 12px;
}
td.searchinput input {
    padding: 8px;
    width: 500px;
    border-radius: 5px;
}

table.result {
    margin-bottom: 40px;
    border-collapse: collapse;
}
table.result th, table.result td {
    border: 1px solid black;
}
table.result tr:nth-child(odd) {
    background-color: #f9f9f9;
}
table.result td {
    padding: 5px;
    width: 100%;
}
table.result td.name {
    width: 200px;
}
.resultaction {
    background-color: #eeeeee;
}
.resultaction a {
    text-decoration: none;
}

table.tablecell {
    border-collapse: collapse;
}
ul.tablecell{
    margin: 0px;
}

.pagination {
    border: 1px solid black;
    padding: 3px 4px 0px 4px;
    margin: 2px;
}
.pagination a {
    text-decoration: none;
}
