<!doctype html>
<html lang="de">
  <head>
    <title>Mikrocontroller-Suche</title>
    {% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />{% endblock %}
    {% block scripts %}<script src="{{ url_for('static', filename='main.js') }}"></script>{% endblock %}
  </head>
  <body>
    {% block navigation %}<div id="navigation">{% include "navigation.html" %}</div>{% endblock %}
    {% block content %}<div id="content"></div>{% endblock %}
  </body>
</html>
