{% macro datastructure(value, maxdepth=0, depth=0) %}
  {% if maxdepth > 0 %}
    {% set depth = depth + 1 %}
  {% endif %}

  {% if depth <= maxdepth %}
    
    <table class="tablecell">
    
      {% if value is string or value is number %}
	<tr><td style="border: none">{{ value }}</td></tr>
      
      {% elif value is boolean %}
	<tr><td>{% if value %}true{% else %}false{% endif %}</td></tr>
      
      {% elif value is mapping  %}
	<tr>
	  <td>
	    <table class="tablecell">
	      {% for key in value.keys() %}
		<tr>
		  <td>{{ key }}</td>
		  <td>{{ datastructure(value[key], maxdepth, depth) }}</td>
		</tr>
	      {% endfor %}
	    </table>
	  </td>
	</tr>
	
      {% elif value is sequence %}
	<tr>
	  <td>
	    {% for field in value %}
	      {{ datastructure(field, maxdepth, depth) }}
	    {% endfor %}
	  </td>
	</tr>
	
      {% endif %}
    </table>
    
  {% endif %}
{% endmacro %}
