{% extends '__base__.html' %}

{%- block content -%}
  {%- if form.errors -%}
    <div class="errors">
      <ul class="errorhead">
	{%- for error in form.errors -%}
	  <li>
	    {{ form[error].label }}:
	    <ul class="">
	      {%- for message in form.errors[error] -%}
		<li>{{ message }}</li>
	      {%- endfor -%}
	    </ul>
	  </li>
	{%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
  <form method="POST">
    {{ form.hidden_tag() }}
    <table id="search">
      <tr>
	<th>{{ form.query.label }}</th>
	<td>{{ form.query }}</td>
      </tr>
      <tr>
	<td colspan="2" align="right"><input type="submit" value="Ok"></td>
      </tr>
    </table>
  </form>
  {%- if results -%}
    <table class="results">
      {%- for result in results.hits.hits -%}
	<tr>
	  <td>
	    <table class="result">
	      <tr>
		<td colspan="2" class="resultaction"><a href="{{ result._id }}">Actions</a></td>
	      </tr>
	      {%- for key in result._source.keys() -%}
		<tr>
		  <td class="name">{{ key }}</td>
		  <td>{{ result._source[key] }}</td>
		</tr>
	      {%- endfor -%}
	    </table>
	  </td>
	</tr>
      {%- endfor -%}
    </table>
  {% endif -%}
{%- endblock -%}
