{% extends '__base__.html' %}
{% from '__datastructure__.html' import datastructure with context %}

{%- block content -%}
  {%- if form.errors -%}
    <div class="errors">
      <ul class="errorhead">
	{%- for error in form.errors -%}
	  <li>
	    {{ form[error].label }}:
	    <ul class="">
	      {%- for message in form.errors[error] -%}
		<li>{{ message }}</li>
	      {%- endfor -%}
	    </ul>
	  </li>
	{%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
  <form method="POST">
    {{ form.hidden_tag() }}
    <table id="search">
      <tr>
	<th class="searchinput"><span>{{ form.query.label }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
	<td class="searchinput">{{ form.query }}</td>
      </tr>
      <tr>
	<td colspan="2" align="right"><input type="submit" value="Ok"></td>
      </tr>
    </table>
  </form>
  {%- if results -%}
    <table class="results">
      <tr><td>Found {{ results.hits.total.value }} results in {{ results.took }} ms.</td></tr>
      {%- for result in results.hits.hits -%}
	<tr>
	  <td>
	    <table class="result">
	      <tr>
		<td colspan="2" class="resultaction" align="right"><a href="{{ url_for('show', deviceid=result._id) }}">Actions</a></td>
	      </tr>
	      {%- for key in result._source.keys() -%}
		{{ datastructure(key, result._source[key]) }}
	      {%- endfor -%}
	      <tr>
		<td colspan="2" class="resultaction" align="right">Score: {{ '%0.3f'|format(result._score) }}</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      {%- endfor -%}
    </table>
  {% endif -%}
{%- endblock -%}
